In [3]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
#Create DataFrame
TransactionAmount = pd.DataFrame(
    {
    "TransactionAmount": [100, 150, 50, 100, 130,120,100,85,70,150,150,120,50, 100,100,140,90,150,50,90,120,100,110,75,65],
    }

)
TransactionAmount

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [7]:
#Central Tendency
import statistics

In [8]:
TransactionAmount = np.array(

    [100, 150, 50, 100, 130,120,100,85,70,150,150,120,50, 100,100,140,90,150,50,90,120,100,110,75,65],


)

In [19]:
len (TransactionAmount)

25

In [22]:
print(statistics.mean(TransactionAmount))

102

In [23]:
print(statistics.median(TransactionAmount))

100

In [12]:
statistics.mode(TransactionAmount)

100

In [13]:
statistics.multimode(TransactionAmount)

[100]

In [ ]:
#Tulis analisismu dari Central Tendency di sini

In [16]:
#Variability
import numpy as np
#print var
#print std
#print max & min
#print quantile 0.25
#print quantile 0.5
#print quantile 0.75

In [17]:
print(np.var(TransactionAmount))
print(np.std(TransactionAmount))
print(np.max(TransactionAmount) - np.min(TransactionAmount))
print(np.quantile(TransactionAmount, 0.25))
print(np.quantile(TransactionAmount, 0.5))
print(np.quantile(TransactionAmount, 0.75))

972.2399999999999
31.18076330047101
100
85.0
100.0
120.0

In [ ]:
#Tulis analisismu dari Variability di sini

In [ ]:
#Define H0 and H1
#H0: The average transactions amount = 100
#H1:The average transactions amount > 100

In [ ]:
#Define alpha = 0.05

In [24]:
#Calculate t statistics and P-value
#Perform one sample t-test

stats.ttest_1samp(a=TransactionAmount, popmean=100)

TtestResult(statistic=0.4085001556802841, pvalue=0.6865284813438117, df=24)

In [ ]:
#statistic= 0.4085001556802841 , pvalue= 0.6865284813438117

In [ ]:
#Conclude with alpha and p-value
# As the P-value is larger than alpha (5%), then we fail to the reject H0
#Conclusion:

In [ ]:
#Conclude with t statistics and critical region
#Find the critical region

In [25]:
#H1: larger (right side)
stats.t.ppf(1-0.05, 24)

1.7108820799094275

In [ ]:
#Critical region result : t > 1.71
# As the t-statistic is not in the critical region, then we fail to reject H0
#Conclusion: The campaign is not effective, the average transactions amount is still at 100